
.separacion{ height: 200px; background-color: lightgray; width: 100%; }
.separacion h3{ margin-top: 87px; }

.descripcionpeque{
    max-height: 100px;
    overflow: hidden;
}

@media (max-width: 767px) {
    .padd-bottom{ padding-bottom: 50px; }
    .vacio{ height: 50px; }
    .separacion{ margin-top: 25px; margin-bottom: 25px; }
    .items-sr{ min-width: 80px; }
    .items-o{ min-width: 300px; }
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .vacio{ height: 100px; }
    .separacion{ margin-top: 50px; margin-bottom: 50px; }
    .items-sr{ min-width: 80px; }
    .items-o{ min-width: 300px; }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .vacio{ height: 150px; }
    .separacion{ margin-top: 75px; margin-bottom: 75px; }
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    .vacio{ height: 200px; }
    .separacion{ margin-top: 100px; margin-bottom: 100px; }
    .items-sr{ width: 80px; }
    .items-o{ min-width: 300px; }
}

.color{ width: 50px; height: 50px; }

.inicio{
    position: relative;
    top: 10px;
    left: 10px;
}

.help-block{ color: red; }

.contenido {
    overflow:hidden;
    white-space:nowrap; /* Indicamos que no realice salto de linea si no cabe en la anchura indicada */
    text-overflow: ellipsis;
}

.separacion-top{ height: 50px; }

.invalido{
    color: red;
}

.padd-bottom h3{ color: darkgray; }
.padd-bottom img{ height: 200px; }

.padd-bottom h3 a:hover, .padd-bottom img:hover{ cursor: pointer; }

.padd-bottom:hover h3 a{
    color: #122b40;
}

.padd-bottom:hover img{
    -webkit-box-shadow: 4px 4px 5px 0px rgba(212,212,212,1);
    -moz-box-shadow: 4px 4px 5px 0px rgba(212,212,212,1);
    box-shadow: 4px 4px 5px 0px rgba(212,212,212,1);
}

.padd-bottom h3 a:hover{ text-decoration: none; }


/* ---LINKS--- */

.links {
    *zoom: 1;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    text-align: center;
}
.links:before, .links:after {
    content: "";
    display: table;
}
.links:after {
    clear: both;
}

.link-effect-9 a {
    font-size: 20px;
    text-decoration: none;
    color: darkslategray;
    margin: 0 20px;
    padding: 10px 0;
    position: relative;
    -moz-transition: ease-out 0.3s 0.1s;
    -o-transition: ease-out 0.3s 0.1s;
    -webkit-transition: ease-out 0.3s;
    -webkit-transition-delay: 0.1s;
    transition: ease-out 0.3s 0.1s;
}
.link-effect-9 a::after {
    height: 2px;
    width: 100%;
    background: blue;
    content: "";
    position: absolute;
    left: 0px;
    bottom: 0;
    -moz-transform: scaleX(0);
    -ms-transform: scaleX(0);
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}
.link-effect-9 a:hover::after {
    -moz-transform: scaleX(1);
    -ms-transform: scaleX(1);
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}
.color-hover a::after{ background: red; }

.acabado{ opacity: 0.7; }

.cke_button__shortcode1 .cke_button_label, .cke_button__shortcode2 .cke_button_label, .cke_button__shortcode3 .cke_button_label, .cke_button__shortcode4 .cke_button_label, .cke_button__shortcode5 .cke_button_label, .cke_button__shortcode6 .cke_button_label, .cke_button__shortcode7 .cke_button_label {
    display: inline !important;
}

#nuevo{
    display: none;
}

#marcar{
    float: right;
}

.interesado{
    display: block;
    height: 30px;
    width: 170px;
    background-color: lightblue;
    position: absolute;
    right: 0;
    top: 0;
    margin-right: 15px;
    z-index: 3;
}
.interesado a{ font-size: 20px; margin-left: 20px; }
.interesado a:hover{ cursor: pointer; text-decoration: none; }

.darse-baja:hover{ cursor: pointer; text-decoration: none; }
































